.release-class{
    background-color:powderblue !important;
    font-weight: bold;
}
.dayoff-class{
    background-color: rgba(255, 99, 132, 0.3) !important;
    font-weight: bold;
}
.launch-class{
    background-color:burlywood !important;
    font-weight: bold;
}
.relaxed-work{
    font-weight: bold;
    background-color:aliceblue;
    border: 1px solid rgb(224, 224, 224)
}
.balanced-work{
    background-color:antiquewhite;
    font-weight: bold;
    border: 1px solid rgb(224, 224, 224)
}
.overload-work{
    font-weight: bold;
    background-color:tomato;
    border: 1px solid rgb(224, 224, 224)
}
.weekenday-class{
    background-color:  lightgoldenrodyellow ;
}
.weekenday-header-class{
    background-color:   lightgoldenrodyellow !important;
}